<ion-view title="Locations" id="locations">
    
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <!-- loading state -->
    <section ng-show="busy">
        Loading...
    </section>

    <!-- loaded state / show locations-->
    <section ng-hide="busy">

        <!-- content -->
        <ion-content class="has-header">

            <!-- Filter Results -->
            <section class="padding row">
                <div class="range col-50">
                    1H
                    <input type="range" name="duration" step="1" min="1" max="12">
                    12H
                </div>
                <div class="button-bar col-offset-10 col-40">
                    <a class="button" ng-show="filter.sort == 'nearest'" ng-click="filter.sort = 'cheapest'"><i class="ion-android-sort"></i> Nearest</a>
                    <a class="button" ng-hide="filter.sort == 'nearest'" ng-click="filter.sort = 'nearest'"><i class="ion-android-sort"></i> Cheapest</a>
                </div>
            </section>

            <!-- Parking locations by distance-->
            <aricle ng-repeat="distance in breakdown.distance" ng-show="filter.sort == 'nearest'">
                <div class="item item-divider">
                    Candy Bars Distance
                </div>
                <ion-list>
                    <ion-item ng-repeat="parkingLocation in parkingLocations | filter:breakdownFilter(distance)" href="#/app/locations/{{location.id}}">
                        <h2>{{location.title}}</h2>
                        <p>Back off, man. I'm a scientist.</p>
                        <div class="badges">
                            <span class="badge badge-assertive badge-left">4 hr</span>
                            <span class="badge badge-assertive badge-middle">$3/hr</span>
                            <span class="badge badge-assertive badge-right">0.1km</span>
                        </div>
                    </ion-item>
                </ion-list>
            </aricle>

            <!-- Parking locations by price-->
            <aricle ng-repeat="price in breakdown.price" ng-hide="filter.sort == 'nearest'">
                <div class="item item-divider">
                    Candy Bars Cheapest
                </div>
                <ion-list>
                    <ion-item ng-repeat="parkingLocation in parkingLocations | filter:breakdownFilter(price)" href="#/app/locations/{{location.id}}">
                        <h2>{{location.title}}</h2>
                        <p>Back off, man. I'm a scientist.</p>
                        <div class="badges">
                            <span class="badge badge-assertive badge-left">4 hr</span>
                            <span class="badge badge-assertive badge-middle">$3/hr</span>
                            <span class="badge badge-assertive badge-right">0.1km</span>
                        </div>
                    </ion-item>
                </ion-list>
            </aricle>

        </ion-content>
    </section>

</ion-view>