<ion-view title="Detail" id="detail">
    <ion-content class="has-header">

    	<!-- sign post -->
    	<section class="row">
	        <div class="card card-sign-post text-center col-offset-10 col-80">
			  <div class="item item-text-wrap">
			    <h1>4P</h1>
			    <p>METER</p>
			    <h2>7<sub>AM</sub> - 10<sub>PM</sub></h2>
			    <h3>MON-FRI</h3>
			    <h2>7<sub>AM</sub> - 10<sub>PM</sub></h2>
			    <h3>MON-FRI</h3>
			    <h3></h3>
			  </div>
			</div>
		</section>

    	<!-- sign post -->
        <section class="card text-center">
		  <div class="item item-text-wrap">
		  	<p>You are allowed to park here for <strong>4 hours</strong> at <strong>$5</strong> per hour. </p>
		  </div>
		</section>

    </ion-content>

    <!-- action -->
    <div class="bar bar-footer bar-balanced">
      <div class="title" ui-sref="app.complete">Park Me Here</div>
    </div>

</ion-view>