@font-face {
	font-family: 'brand-regular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'brand-light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'brand-semibold';
	src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
$gray-light:					  lighten(#000, 60%);   // #999

// brand colors
$brand-green: #00b259;
$brand-lighter-gray: #efefef;
$brand-light-gray: #8a8585;
$brand-dark-gray: #222222;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

* {
	font-family: 'brand-regular', 'sans-serif';
}
// GLOBALS	
.pull-left {
 	float: left !important;
}
.pull-right {
 	float: right !important;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-muted {
	color: $gray-light;
}

// badges
.item .badge {
	right: 10px;
}
.badges {
	position: absolute;
	right: 10px;
	top: 25px;
	.badge {
		position: static;
		float: left;
		margin-right: 5px;
	}
}

// PAGES
#home {
	.ion-android-location {
		color: $brand-green;
	}
	.item-floating-label {
		border: 0;
		overflow: none;
	}
}

#locations {
	ion-item {
		p {
			margin-bottom: 0;
		}
	}
	.filters {
		padding-top: 0;
		padding-bottom: 0;
		z-index: 10;
		position: relative;
		-webkit-box-shadow: 0px 0px 45px -7px #000000;
		       -moz-box-shadow: 0px 0px 45px -7px #000000;
		            box-shadow: 0px 0px 45px -7px #000000;
	}
	.item-divider {
		border: none;
		font-size: 14px;
		font-family: 'brand-light';
		background: $brand-lighter-gray;
	}
	.item-content {
		font-weight: normal;
	}
	.badge {
		background: $brand-lighter-gray;
			-webkit-border-radius: 5px;
	     	-moz-border-radius: 5px;
	      	-ms-border-radius: 5px;
	        border-radius: 5px;
	    color: #000;
	    font-size: 14px;
	    &.free {
	    	color: #fff;
	    	background: $brand-green;
	    }
	}

	.range input {
		padding: 2px;
	}

	.button.button-small{
		position: absolute;
		right: 10px;
		top: 5px;
		padding: 5px 10px;
		min-width: 100px;
		border: 1px #dadada solid;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
		background: #f6f8f9; /* Old browsers */
		background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #e1e1e1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#e1e1e1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#e1e1e1 100%); /* IE10+ */
		background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#e1e1e1 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
	}

}

#detail {
	.card-sign-post {
		padding: 20px;
	}
}

div#thumb {
	background: $brand-green !important;
}	