@font-face {
	font-family: 'brand-regular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'brand-light';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'brand-semibold';
	src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
$gray-light:					  lighten(#000, 60%);   // #999

// brand colors
$brand-green: #00b259;
$brand-lighter-gray: #efefef;
$brand-light-gray: #8a8585;
$brand-dark-gray: #222222;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

* {
	font-family: 'brand-regular', 'sans-serif' !important;
}
// GLOBALS	
.pull-left {
 	float: left !important;
}
.pull-right {
 	float: right !important;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-muted {
	color: $gray-light;
}

// badges
.item .badge {
	right: 10px;
}
.badges {
	position: absolute;
	right: 10px;
	top: 25px;
	.badge {
		position: static;
		float: left;
		margin-right: 5px;
	}
}

// PAGES
#home {
	.ion-android-location {
		color: $brand-green;
	}
	.item-floating-label {
		border: 0;
		overflow: none;
	}
}

#locations {
	ion-item {
		p {
			margin-bottom: 0;
		}
	}
}

#detail {
	.card-sign-post {
		padding: 20px;
	}
}
